/* GLOBAL RESETS */

body {
  padding:0;
  margin:0;
  box-sizing:border-box;
}


/* GENERAL SETTINGS */

body {
  font-family: 'Roboto', sans-serif;
  background-color:#F7F7F7;
}



/* HEADER */

header {
  position:fixed;
  top:0;
  width:100%;
  background-color:#FF570C;
  height:4em;
  text-align:center;
  line-height:1.5em;
  color:#F7F7F7;
}


main {
  margin-top:6em;
}



/* PET MODULE */

.pet-module {
  background-color:#EEEEEE;
  border: 1px solid #606470;
  border-radius:3px;
  margin:2em;
}

.pet-name {
  font-weight:bold;
  margin:.7em;
  font-size:1.5em;
  text-align:center;
}

.pet-info-pic-cont {
  display:flex;
  flex-direction:row;
  border-radius:5px;
  height:78%;
}


.pet-pic img {
  width:12.5em;
  margin-left:1em;
  margin-right:1em;
  height:11em;
  border-radius:7em;
}

.pet-info {
  max-width:60%;
  margin:1em;
  overflow:hidden;
}